// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "Georgia", "simsun", "Nimbus Roman", "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$head-font-family: "Helvetica Neue", "PingFang SC", "Segoe UI", "Source Han Sans SC", "MathJax_Main", "WenQuanYi Micro Hei", sans-serif !default;
$code-font-family: "Fira Code", "Consolas", "Ubuntu Mono", "Roboto Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   22px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
