// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: -apple-system, BlinkMacSystemFont, "Georgia", "simsun", "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Consolas", "Ubuntu Mono", "Roboto Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   20px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;