// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.powered-by {
    font-size: 0.7em;
    color: darkgray;
    text-align: center;
}